.itemmain{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.smainitem{
    display: flex;
    align-items: center;
    gap: 20px;
    /* padding: 10px; */
}
.smainitem>img{
    height: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.quantcarr{
    display: flex;
    gap: 10px;
    align-items: center;
}
.decs{
    width: 25px;
    height: 25px;
    border: 1px solid teal;
    color: teal;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.incs{
    width: 25px;
    height: 25px;
    border: 1px solid teal;
    color: teal;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.decs:hover{
    cursor: pointer;
}
.incs:hover{
    cursor: pointer;
}
.remtxt{
    font-size: 14px;
    text-decoration: underline;
    color: gray;
}
.remtxt:hover{
    cursor: pointer;
}
.txtname{
    font-size: 15px;
}
.txtquant{
    color: gray;
    font-size: 13px;
}
.txtprice{
    font-weight: 500;
}