.card{
    width:260px;
    height:fit-content;
    margin-left:10px;
    margin-right:10px;
    box-sizing: border-box;
    border:0.1px solid rgb(235, 235, 235);
    border-radius: 8px;
    transition-duration: 0.5s;
    
    
} 
.cardTop img{
    width:100%;
    /* border: 10px solid red; */
    height:100%;
}
 .cardTop{
    width:250px;
    height:250px;
}
  .cardBottom{
    margin-top:10px;
    height:100px; 
    padding: 0px 0px 0px 8px;
  } 
  .sideHeading {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .btnAdd :hover {
    cursor: pointer;
  
  }
  
  .btnAdd {
    color: rgb(126, 205, 173);
    font-size: 12px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid green;
    border-radius: 15px;
    margin-left: 20px;
    justify-content: space-around;
  }
  
  .cartBtn {
    color: rgb(126, 205, 173);
    font-size: 15px;
  }
  
  .card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    border-radius: 10px;
  }
  .btnContainer :hover{
    background-color:rgb(126, 205, 173); ;
    color:white;
  }
  .container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: auto;
    height: auto;
    grid-gap: 20px;
    margin: auto;
    margin-top: 30px;
  }
  
  .heading {
    font-size: 30px;
    font-weight: 100;
    color:rgba(0,0,0,.85)
  
  }

  @media only screen and (max-width:600px){
    .card{
      width:200px;
      height:300px;
    }
    .cardTop img{
      width:180px;
      height:200px;
    }
    .cardTop{
      height:200px;
    }

  }
  
  /* .itemsContainer {
    width: 100%;
    height: 350px;
  }
  
  .itemCard {
  
    width: 250px;
    height: 350px;
    margin-left: 20px;
  }
  
  .imageDownSide {
    height: 100px;
  } */
 