.centerImagesContainer{
    display:flex;
    flex-direction: row;
    width:50%;
    height:300px;
    margin:auto;
    margin-top:100px;
    justify-content: space-around;
}

.centerFruit{
    width:100%;
    height:100%;
    
}
.centerVegetables{
    width:100%;
    height:100%;
}

@media only screen and (max-width:600px)and (min-width:400px){
    .centerImagesContainer{
        width:95%;
        margin:none;
        display:grid;
        grid-template-columns:repeat(1,100%);
    }
    .centerFruit{
        width:90%;
        margin:auto;
        height:300px;
    }
    .centerVegetables{
        width:90%;
        margin:auto;
        height:300px;
        margin-top:30px;
    }

   
}