.menu_page_container{
    padding-top: 120px;
    display: grid;
    grid-template-columns: 20% 80%;
    font-weight: 100;
    font-family: Quicksand,sans-serif;
    justify-content: center;
}
.menu_page_left_container{
    margin-left:20px;
    margin-top:20px;
}
.menu_page_right_container{
    /* background-color: #111; */
    margin:20px 20px;
}
.left_accordianPanel{
    color:#666;
    cursor: pointer;
}
.left_accordianPanel:hover{
    color:#111;
    font-size:17px
}
.product_page_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,250px));
    column-gap: 10px;
    row-gap: 20px;
}
.product_each_items{
    height:auto;
    width:230px;
    padding: 0px 8px 20px;
    border:1px solid #eee;
    cursor: pointer;
    border-radius: 8px;
}
.product_each_items:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product_each_items_priceButton{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.addToCartIcon{
    font-size: 20px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.addToCartbutton{
    border:1px solid #4fbb90 ;
    color:#4fbb90;
    border-radius: 20px;
    min-width: 60px;
    position: relative;
    padding: 3px 20px;
    padding-left:40px;
    line-height: 24px;
    text-align: center;
}
.cartminusbutton{
    border:1px solid #4fbb90 ;
    color:#4fbb90;
    width:30px;
    border-radius: 50% 0% 0% 50%;
    margin-right:10px
}
.cartplusbutton{
    border:1px solid #4fbb90 ;
    color:#4fbb90;
    width:30px;
    border-radius: 0% 50% 50% 0%;
    margin-right:5px;
    margin-left:10px
}

.PDcontainer {
    /* padding-top: 50px; */
    display: flex;
    margin-top: 120px;
   
}
#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgDiv {
    width: 40vw;
    height: 65vh;
}
.imgDiv > img {
    width: 60%;
    height: 90%;
    margin-left: 70px;
}

.desDiv1 > div {
    margin-top: 3vh;
}

.desDiv1 > h3 {
    font-size:x-large;
    margin-top: 3vh;
}
.desDiv2 {
    width: 43vw;
    height: 25vh;
    border-radius: 9px;
    background-color: rgb(225, 222, 222);
}
.benefits {
    margin-top: 4vh;
    border-top: 1px solid rgb(229, 227, 227);
}

